html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Work Sans', sans-serif;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16pt; 
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#f2f2f2;
  position: sticky;
  width: 100vw;
  top:0;
  right:0;
  left:0;
}

header img{
  width:20vw;
  height: auto;
}

.parallax {
  display: none;
}

{box-sizing: border-box;}

.openChatBtn {
  background-color: black;
  padding: 16px;
  border: none;
  font-weight: 500;
  font-size: 0.7em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100px;
  z-index: 5;
  opacity: ;
}

.openChat {
  display: none;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 3px solid rgb(85, 157, 250);
  z-index: 8;
  text-align: left;
  padding: 20px;
  background:white;
  min-width: 50px;
  max-width: 250px;
}
.openChat input[type=text], select, textarea{
  margin: 5px 0;
}
.openChat h1{
  font-size: 1.4em;
  padding: 5px 0;
}
.openChat label{
  font-size: 1em;
  
}
.form-all {
  width: 100%;
  overflow: hidden;
  background-color: white;
  height: auto;
  font-size: 0.8em;
}
.form-all textarea {
  font-size: 0.8em;
  font-weight: 500;
  background: #d5e7ff;
  resize: none;
  min-height: 5vh;
}
#subject{
  height:15vh;
  margin: 2px 0;
}

button img{
  width: 50%;
}

.form-all textarea:focus {
  background-color: rgb(219, 255, 252);
  outline: none;
}

.btn_close{
  background: none;
  align-items: right;
  opacity: 0.8;
  padding: 0px;
  border:none;
  width: 4em;
  height: 4em;
  right:0;
}

input[type=submit-all]{
  background-color: rgb(85, 157, 250);
  color: black;
  border: none;
  width: 100%; 
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  height: 5vh;
  font-size: 1em;
}

.form-all .btn:hover, .openChatBtn:hover {
  opacity: 1;
}

#relaxingvideo{
  margin: 40px 20px;
}

h1{
  font-size:1.8em;
  padding: 30px 30px ;
  text-align: center;
  margin: auto;
  line-height: 1.5;
  font-weight: bolder;
}

.container-contact p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  color: rgb(18, 101, 209);
}

.container-contact a,
.container-contact a:focus{
  text-decoration: none;
  background-color: rgb(18, 101, 209);
  padding:10px 20px;
  border-radius: 20px;
  color: white;
}  

.container-contact a:hover{
  background-color: #fccb04;
  color: #000000;
}
.more-resources img{
  padding: 5px;
}
.more-resources{
  padding: 60px;
  background-color: #150a72;
  color: white;
  text-align: center;
}
.more-resources h2{
  color: #fa94ad;
}
.more-resources p{
  text-align: center;
  color: white;
  padding: 20px 0px;
}

.more-resources .datacite a{
  color: #fa94ad;
}
.more-resources a{
  text-decoration: none;
  color: white;
}

.more-resources a:hover{
  color: rgb(85, 157, 250);
}

.more-resources a:visited,
.more-resources a:focus{
  text-decoration: #fccb04 wavy underline;
}

.nav_res{
  font-size: 0.8em;
  text-decoration: underline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nav_resources{
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  text-align: center;
}
h2{
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
}

#about{
  padding:20px;
  margin: 50px 0 10px 0;
}
h3{
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
  font-style: uppercase;
}

h3 a{
  text-decoration: #fccb04 wavy underline;
  color: black;
}

h3 a:hover{
  background-color: rgb(250 158 187);
  color: white;
}
h3 a:focus{
  background-color:rgb(85, 157, 250);
}

h3 a:visited{
  text-decoration: #fccb04 wavy underline;
  color: rgb(85, 157, 250);
}

.tiger{
  background:rgb(85, 157, 250);
}

.rabbit{
  background:rgb(250 158 187);
}

.flex-flip,
.flip-card,
.flip-card-inner, 
.flip-card-front,
.flip-card-back {
  display: none;
}
.about-text-block p{
  text-align: center;
}

.about-text-block a{
  text-decoration: none;
  color:#084CA6; 
}
.about-text-block a:hover{
  text-decoration: #fccb04 wavy underline;
  color:#084CA6;
}

.about-text-block a:focus{
  text-decoration: none;
  color:#084CA6;
}

a.contact-forms{
  text-decoration: none;
  color:#084CA6; 
}
a.contact-forms:hover{
  text-decoration: #fccb04 wavy underline;
  color:#084CA6;
}

p {
  padding: 10px 20px;
  text-align: left;
  font-size: 0.7em;
  line-height: 2em;
}

#skip{
  text-align: center;
}

img{
  width: 65%;
  text-align: center;
}

.resources-page {
  background: rgb(255, 252, 247);
  padding: 20px 0px;
}

.activities-page {
  background: rgb(255, 252, 247);
  padding: 20px 0px;
}

.nav_links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #6fcff5;
  overflow: hidden;
  font-size: 4vw;
  border-radius: 3px;
}

.nav_item a{
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  overflow: hidden;
  text-decoration: none;
  font-weight:bolder;
}

.nav_item a:hover{
  background: rgb(151, 196, 255);
  border-radius: 5px;
  text-decoration:none;
}

.nav_item a:active{
  text-align: center;
  border-radius: 5px;
  background-color:transparent;
  text-decoration: none;
} 

.bgchange{
  background-color: #6fcff5;
  border-radius: 5px;
}

.nav_item a:focus{
  color:rgb(23, 124, 255);
}

.nav_item a:visited {
  background-color:rgb(151, 196, 255);
  border: rgb(151, 196, 255);
}

.puffer img{
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transition: all 0.2s ease-in-out; 
  transform: rotate3d(0,0,0,0deg);
  position: relative;
  z-index: -1;
  width: 300px;
}

@keyframes slidein {
  from {
    width:100px;
    opacity:0;
  }
  to {
    width:300px;
    opacity: 1;
  }
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; 
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
}

a.skip:focus{
  top:20px;
  color: rgb(151, 196, 255);
  text-decoration-style: solid;
  z-index: 99;
}

.content{
  min-height: 475px;
  display: flex;
  flex-flow: column wrap;
}

.elephant-content{
  background: rgb(128 218 255);
  justify-self: center;
  text-align: center;
}

#content{
  text-align: center;
}

input:focus{
  border: px solid white;
  background-color: rgb(151, 196, 255);
}

input[type=text], select, textarea,
.form-all textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  background-color: #cecece;
  color: black;
}

input[type=submit] {
  background-color: rgb(85, 157, 250);
  color: black;
  padding: 12px 20px;
  border: none;
  margin: 8px 0;
  width: 100%; 
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f8f8f8;
  border: 2px solid rgb(85, 157, 250);
  color: #000000;
}

.contact-form {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 40px;
  margin: 20px;
}

.contact-form p{
  text-align: center;
  background: none;
}

.grid,
.events,
.grid-food{
  display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,250px);
	align-items: stretch;
  width:100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.grid-food img{
  width:100%; 
  height:100%; 
  object-fit: cover;
}

.grid img,
.events img{
  width:100%; 
  height:100%; 
  object-fit: cover;
}

/* Parent Container */
.content-events{
  position: relative;
 }
 
 /* Child Text Container */
 .content-events div{
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .content-events:hover{
  border: 5px solid rgb(85, 157, 250);
 }
 
 .content-events:hover div{
  width: 100%;
  vertical-align: center;
  visibility: visible;
  opacity: 0.7; 
  padding:20px;
  text-align: center;
  font-size: 1em;
 }

.gallery{
  display:grid;
  grid-template-rows: repeat(9,300px);
  grid-template-columns: 1fr;
  overflow: hidden;
}

.gallery img{
  width:100%; 
  height:100%; 
  object-fit:cover; 
}

.gallery img < div{
 overflow: hidden;
}

.datacite{
  text-align: center;
  font-size: 0.7em;
  padding: 10px;
  color: black;
}

.datacite a{
  color:rgb(27, 100, 196);
  text-decoration: none;
}

.email a{
  color: #f1f1f1;
  font-size: 2em;
  text-decoration: none;
}

.email a:hover, a:focus{
  color: rgb(151, 196, 255);
  text-decoration: #fccb04 wavy underline;
}

footer{
  background-color: rgb(31, 29, 29);
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 0.7em;
  position: relative;
  bottom: 0;
  right:0;
}

footer p{
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
}

@media screen and (min-width: 620px){
  header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  header img{
    width: 11vw;
    padding: 0 5px;
    justify-content: space-between;
    margin: 5px 15px;
  }

  .events{
    grid-template-rows: repeat(3, 40vh);
  }
  nav{
    justify-content: space-around;
  }

  .nav_links {
    font-size: 0.8em;
    border-radius: 4px;
    }
  
  .nav_item{
    padding:0 10px;
  }

  h1{
    font-size: 1.2em;
  }

  img{
    width: 40%;
    align-items: center;
  }
  
  p{
    padding: 10px 30px;
  }
  
  .container-contact p{
    text-align: center;
    padding:10px;
    font-size: 1.5em;
  }

  .about-text-block{
    margin: 20px;
  }

  .wellness-image-chick {
    background-color: #79bdff;
  }

  .wellness-image-cow{
    background-color: #f7c803;
  }

  .gallery{
    grid-gap: 0.2em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    padding: 0.2em;
  }
  .openChat {
    min-width: 40vw;
  }
  h2#elephant{
    color:#919191;
  }
  
  #skip{
    align-items: center;
  }

  footer{
    font-size: 0.5em;
  }
}
@media screen and (min-width: 900px){
  header{
    position: relative;
    height: 12vh;
    padding: 0 5px;
    flex-basis: 500px;
    flex-grow: inherit;
  }
  .nav_links a{
    display: inline-block;
    padding: 10px;
  }

  .nav_item{
    display:inline;
  }

  .nav_links{
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    align-items: center;
  }
  .elephant-content img{
    width:450px;
  }
  .about-text-block{
    padding:0;
    margin:0;
  }
  header img{
    width: 5em;
    padding: 10px;
    margin: 20px;
  }

  .nav_links{
    font-size: 0.8em;
  }

  h1{
    padding: 50px 0;
    font-size: 1.8em;
    font-weight: bolder;
  }

  h3{
    margin: 30px 0 0 0 ;
  }
  img{
    width: 30%;
  }

  .resources-page {
    background: rgb(255, 252, 247);
    padding: 40px 0px;
    min-height: 30vh;
  }
  
  .activities-page {
    background: rgb(255, 252, 247);
    padding: 40px 0px;
    min-height: 30vh;
  }

  p{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 0.8em;
    padding: 30px;
  }

  h3{
    font-size: 1.3em;
  }

  .about-text-block p{
    text-align: left;
  }
  
  .flex-flip{
    display: flex;
    overflow: hidden;
    padding: 20px 50px;
    margin: 0 50px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .flip-card {
    display: inherit;
    align-items: center;
    /* background-color: transparent; */
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    display: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    display: inherit;
    transform: rotateY(180deg);
  }
  
  .flip-card-front{
    display: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front img{
    object-fit: cover;
    width: 100%;
  }
  
  .flip-card-back {
    width: 100%;
    height: 100%;
    display: inline-block;
    backface-visibility: hidden;
    background: #46825e;
    color: white;
    transform: rotateY(180deg);
  }  

  .flip-card-back h1{
    text-transform: uppercase;
    font-size: 1em;
    padding: 20px auto;
  }

  .flip-card-back a{
    text-align: center;
    color: white;
    text-decoration: #fccb04 wavy underline;
  }

  .flip-card-back a:hover{
    background-color: rgb(85, 157, 250);
    color: white;
  }

  .flip-card-back a:focus{
    background-color:rgb(85, 157, 250);
    color: white;
  }
  
  .flip-card-back a:visited{
    text-decoration: #fccb04 wavy underline;
    color: white;
  }

  .grid-food{
    display: none;
  }

  .parallax {
    display: inherit;
    position: relative;
    background-image: url(../images/farm3.jpg);
    height: 70vh; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-second{
    display: inherit;
    position: relative;
    background-image: url(../images/farm2.jpg);
    height: 70vh; 
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-form {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .openChat {
    min-width: 350px;
  }
  footer{
    font-size: 0.9em;
    margin-top: 5px;
  }
} 
@media screen and (min-width: 1500px) {
  .elephant-content,
  .more-resources,
  .gallery{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0;
  }
  .more-resources{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .more-resources img{
    width: 30%;
  }
  .parallax, 
  .parallax-second {
  background-size: 100% auto !important;
  transform: none !important;
  background-attachment: scroll;
  }

  .parallax-second{
    background-position:bottom;
  }
  .openChatBtn{
    bottom: 30px;
    right: 30px;
  }
  .flip-card{
    display: none;
  }

  .grid-food{
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,350px);
    align-items: stretch;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
  }

}
@media all and (prefers-reduced-motion: reduce) {
  #logo{
    animation: none;
    transition: none;
    box-sizing: border-box;
  }
}    

